<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Category Details</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<a href="/categories">Back</a>

    <h4>Categories</h4>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
        <tr th:each="category:${categories}">
            <td th:text="${category.categoryId}"></td>
            <td th:text="${category.categoryName}"></td>
            <td th:text="${category.description}"></td>
        </tr>
        </thead>

    </table>
</main>
</body>